<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65833165096-r2fcrjh40punkfv6t5a0t4qth8b8ast5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65833165096-r2fcrjh40punkfv6t5a0t4qth8b8ast5</string>
	<key>API_KEY</key>
	<string>AIzaSyBMok9lnLeOnus2BvjVoSoCl5ngrINVRcc</string>
	<key>GCM_SENDER_ID</key>
	<string>65833165096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fore.gabozago</string>
	<key>PROJECT_ID</key>
	<string>gabozago-9475f</string>
	<key>STORAGE_BUCKET</key>
	<string>gabozago-9475f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65833165096:ios:969da5935d9eadd8e0b01d</string>
</dict>
</plist>